COMPOSE_PROJECT_NAME=hadoop-local-lab
POSTGRES_DB=metastore
POSTGRES_USER=hive
POSTGRES_PASSWORD=change-me-local-only
HDFS_USER=m.razhin
HADOOP_VERSION=3.3.6
HIVE_VERSION=3.1.3
SPARK_VERSION=3.5.5
ZEPPELIN_VERSION=0.11.2
